<a href="https://colab.research.google.com/github/ananghw/data-indonesia/blob/master/WebScrapping_Simotandi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Prepare the library**

In [59]:
import requests
from bs4 import BeautifulSoup
%pip install tabula-py
%pip install JPype1
import pandas as pd
import tabula
from urllib.parse import urljoin
import os
import glob
from datetime import datetime
%pip install pandasql
from pandasql import sqldf

Requirement already satisfied: tabula-py in /usr/local/lib/python3.11/dist-packages (2.10.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.11/dist-packages (from tabula-py) (2.2.2)
Requirement already satisfied: numpy>1.24.4 in /usr/local/lib/python3.11/dist-packages (from tabula-py) (2.0.2)
Requirement already satisfied: distro in /usr/local/lib/python3.11/dist-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.17.0)
Requirement already satisfied: JPype1 in /usr/local/lib/python3.11/dist-packages (1.6.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from JPype1) (24.2)
Requirement already satisfied: pandasql in /usr/local/lib/python3.11/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.41)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.14.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)

# **Build Dynamic URL**

In [42]:
base_url = 'https://simotandi.pertanian.go.id/datatabular.php'
page_url = 'https://simotandi.pertanian.go.id/datatabular_prov.php?no=57'

In [43]:
output_folder = 'hasil_scraping'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

kolom_header = [
    'No',
    'Provinsi/Kabupaten/Kota',
    'Bera',
    'Penggenangan',
    'Tanam (1-15 HST)',
    'Vegetatif 1 (16-30 HST)',
    'Vegetatif 2 (31-40 HST)',
    'Max. Vegetatif (41-54 HST)',
    'Generatif 1 (55-71 HST)',
    'Generatif 2 (72-110 HST)',
    'Panen',
    'Standing Crop',
    'Luas Baku Sawah (Ha)'
]

print(f"Mengambil halaman dari: {page_url}")
try:
    response = requests.get(page_url)
    response.raise_for_status()
    soup = BeautifulSoup(response.text, 'html.parser')

    pdf_links = soup.find_all('a', href=lambda href: href and '.pdf' in href)

    if not pdf_links:
        print("Tidak ada link PDF yang ditemukan di halaman ini.")
    else:
        total_pdfs = len(pdf_links)
        print(f"Ditemukan {total_pdfs} link PDF. Memulai proses ekstraksi...")

        for i, link_tag in enumerate(pdf_links):
            print(f"\n--- Memproses PDF {i+1}/{total_pdfs} ---")

            relative_link = link_tag['href']
            full_pdf_url = urljoin(base_url, relative_link)
            print(f"URL PDF: {full_pdf_url}")

            pdf_filename = os.path.basename(relative_link).replace('.pdf', '')
            output_excel_file = os.path.join(output_folder, f'tabel_dari_{pdf_filename}.xlsx')

            try:
                print("Mengekstrak tabel dari PDF...")
                tables = tabula.read_pdf(full_pdf_url, pages='all', lattice=True, multiple_tables=True, pandas_options={'header': None})

                if not tables:
                    print("Tidak ada tabel yang bisa diekstrak dari PDF ini.")
                else:
                    print(f"Berhasil! Ditemukan {len(tables)} tabel. Membersihkan dan menggabungkan...")

                    cleaned_tables_list = []

                    for j, df in enumerate(tables):
                        if df.empty:
                            continue

                        start_row_index = pd.to_numeric(df.iloc[:, 0], errors='coerce').first_valid_index()

                        if start_row_index is not None:
                            df_cleaned = df.loc[start_row_index:].reset_index(drop=True)

                            if len(df_cleaned.columns) == len(kolom_header):
                                df_cleaned.columns = kolom_header
                                # Masukkan tabel yang sudah bersih ke dalam list
                                cleaned_tables_list.append(df_cleaned)
                            else:
                                print(f"  Peringatan: Jumlah kolom di Tabel_{j+1} tidak cocok dengan header. Dilewati.")
                        else:
                            print(f"  Peringatan: Tidak ditemukan baris data numerik di Tabel_{j+1}. Dilewati.")

                    if cleaned_tables_list:
                        combined_df = pd.concat(cleaned_tables_list, ignore_index=True)

                        combined_df.to_excel(output_excel_file, index=False)
                        print(f"Semua tabel telah digabung dan disimpan ke: {output_excel_file}")
                    else:
                        print("Tidak ada tabel yang valid untuk digabungkan setelah proses pembersihan.")

            except Exception as e:
                print(f"GAGAL memproses PDF ini. Error: {e}")

except requests.exceptions.RequestException as e:
    print(f"Gagal mengakses URL halaman web: {e}")

print("\n\n--- Proses Selesai ---")

Mengambil halaman dari: https://simotandi.pertanian.go.id/datatabular_prov.php?no=57
Ditemukan 34 link PDF. Memulai proses ekstraksi...

--- Memproses PDF 1/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/571104b571b7a13c5a05b7d5694c1e8af306.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 7 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_571104b571b7a13c5a05b7d5694c1e8af306.xlsx

--- Memproses PDF 2/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/571227552720a7e5efdc4adea1338f805220.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 10 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_571227552720a7e5efdc4adea1338f805220.xlsx

--- Memproses PDF 3/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/571356fd3896aaec780f1275d599f5fc416f.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 5 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_571356fd3896aaec780f1275d599f5fc416f.xlsx

--- Memproses PDF 4/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5714e2cfa2f03af4a98185b6da8e7ed0b2d4.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5714e2cfa2f03af4a98185b6da8e7ed0b2d4.xlsx

--- Memproses PDF 5/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/57156af0039db656b9039528d1ebfbf67425.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_57156af0039db656b9039528d1ebfbf67425.xlsx

--- Memproses PDF 6/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5716e058f5fb85b761b3075bd2928b8dfe8a.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 6 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5716e058f5fb85b761b3075bd2928b8dfe8a.xlsx

--- Memproses PDF 7/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5717949d87f1b054252f59ec4aa33a48e88f.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 3 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5717949d87f1b054252f59ec4aa33a48e88f.xlsx

--- Memproses PDF 8/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/571824951d71ff815d5f973db2ae1087a099.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 6 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_571824951d71ff815d5f973db2ae1087a099.xlsx

--- Memproses PDF 9/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5719b0c0ce8332390b45f8cc38096b94d95f.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5719b0c0ce8332390b45f8cc38096b94d95f.xlsx

--- Memproses PDF 10/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5721f04fd67d7ecd23054724e639aad738aa.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5721f04fd67d7ecd23054724e639aad738aa.xlsx

--- Memproses PDF 11/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5731becaeaa90a4b123f791c87f5b42e5e76.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5731becaeaa90a4b123f791c87f5b42e5e76.xlsx

--- Memproses PDF 12/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/57327e852490f5963f684da96982b31b4a53.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 14 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_57327e852490f5963f684da96982b31b4a53.xlsx

--- Memproses PDF 13/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5733626edf55583206e795c97210fa0c3a74.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 13 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5733626edf55583206e795c97210fa0c3a74.xlsx

--- Memproses PDF 14/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5734a46a1d85395cad2b007f57c280ebb317.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5734a46a1d85395cad2b007f57c280ebb317.xlsx

--- Memproses PDF 15/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5735bc7be03c5a102dba2d6c67a597b26314.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 15 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5735bc7be03c5a102dba2d6c67a597b26314.xlsx

--- Memproses PDF 16/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5736bfc4743e285a9e1ba347e59f521fad16.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5736bfc4743e285a9e1ba347e59f521fad16.xlsx

--- Memproses PDF 17/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/575114db44f6943261e99aad97b1e546e63f.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_575114db44f6943261e99aad97b1e546e63f.xlsx

--- Memproses PDF 18/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/575286cf254cca08b33e1620cfc64d5d49dd.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 3 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_575286cf254cca08b33e1620cfc64d5d49dd.xlsx

--- Memproses PDF 19/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5753ca9d73b85e8fb567ae2b7d22d95f9f17.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 7 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5753ca9d73b85e8fb567ae2b7d22d95f9f17.xlsx

--- Memproses PDF 20/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/57611bba8b74b65e6886ab0ac0d7f89df438.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 5 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_57611bba8b74b65e6886ab0ac0d7f89df438.xlsx

--- Memproses PDF 21/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/576217204a7b974d2820084f50d06a2549fe.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_576217204a7b974d2820084f50d06a2549fe.xlsx

--- Memproses PDF 22/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5763567d57691a30da3afdbcddcea910c20d.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5763567d57691a30da3afdbcddcea910c20d.xlsx

--- Memproses PDF 23/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5764f724ac0091de42a82ea6713d6c0250e5.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 3 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5764f724ac0091de42a82ea6713d6c0250e5.xlsx

--- Memproses PDF 24/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5765d6469192b3342ef2d07c57775a602937.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5765d6469192b3342ef2d07c57775a602937.xlsx

--- Memproses PDF 25/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5771bda87e786a087c911f53e7b015cb4004.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5771bda87e786a087c911f53e7b015cb4004.xlsx

--- Memproses PDF 26/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5772777369f7d5c69e4e1a6660960a7c6d2a.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 4 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5772777369f7d5c69e4e1a6660960a7c6d2a.xlsx

--- Memproses PDF 27/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5773ed4bcbcf2a54c35754dd528faa45bc35.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 7 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5773ed4bcbcf2a54c35754dd528faa45bc35.xlsx

--- Memproses PDF 28/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/577445c6d3a881b5fe7e6290e7f2d2ee5ef3.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 5 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_577445c6d3a881b5fe7e6290e7f2d2ee5ef3.xlsx

--- Memproses PDF 29/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5775843dea406b1b8251c2988ac218c32484.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5775843dea406b1b8251c2988ac218c32484.xlsx

--- Memproses PDF 30/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/577620395ffa0026b62db975a2459e400a13.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 2 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_577620395ffa0026b62db975a2459e400a13.xlsx

--- Memproses PDF 31/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/57813b3d4262ba682738d44cf263b894d76c.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 3 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_57813b3d4262ba682738d44cf263b894d76c.xlsx

--- Memproses PDF 32/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5782329bff59db4b644faac7068039cd8586.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 3 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5782329bff59db4b644faac7068039cd8586.xlsx

--- Memproses PDF 33/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/5791d8c423a2e289a61cf86281569c3cc475.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 5 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_5791d8c423a2e289a61cf86281569c3cc475.xlsx

--- Memproses PDF 34/34 ---
URL PDF: https://simotandi.pertanian.go.id/pdf/579474122982237e4240a6f30b74ee42f96e.pdf
Mengekstrak tabel dari PDF...
Berhasil! Ditemukan 12 tabel. Membersihkan dan menggabungkan...
Semua tabel telah digabung dan disimpan ke: hasil_scraping/tabel_dari_579474122982237e4240a6f30b74ee42f96e.xlsx


--- Proses Selesai ---

In [44]:
#CHECKING THE SAMPLE XLSX
excel_file_path = "/content/hasil_scraping/tabel_dari_571104b571b7a13c5a05b7d5694c1e8af306.xlsx"
df_sample = pd.read_excel(excel_file_path)
display(df_sample.head())

print(f"Number of rows: {df_sample.shape[0]}")
print(f"Number of columns: {df_sample.shape[1]}")

,No,Provinsi/Kabupaten/Kota,Bera,Penggenangan,Tanam (1-15 HST),Vegetatif 1 (16-30 HST),Vegetatif 2 (31-40 HST),Max. Vegetatif (41-54 HST),Generatif 1 (55-71 HST),Generatif 2 (72-110 HST),Panen,Standing Crop,Luas Baku Sawah (Ha)
0,1,Aceh,74.988,16.344,18.000,15.951,12.391,18.769,17.068,13.864,26.228,96.043,214.729
1,2,Aceh Barat,3.643,1.192,932,672,329,746,785,477,1.348,3.941,10.192
2,3,Arongan Lambalek,375,109,28,23,22,138,215,50,217,476,1.188
3,4,Bubon,220,83,73,88,56,59,45,12,85,333,733
4,5,Johan Pahlawan,98,24,28,20,14,30,14,20,111,126,363

Number of rows: 313
Number of columns: 13

In [45]:
#COMBINE ALL THE DATA EXTRACTED


print("\nMenggabungkan seluruh file Excel menjadi satu file...")

# Cari semua file Excel di folder output
excel_files = glob.glob(os.path.join(output_folder, 'tabel_dari_*.xlsx'))

combined_all_df = []

for file in excel_files:
    try:
        df = pd.read_excel(file)
        df['Source File'] = os.path.basename(file)  # Tambahkan kolom sumber
        combined_all_df.append(df)
    except Exception as e:
        print(f"Gagal membaca {file}: {e}")

if combined_all_df:
    final_combined_df = pd.concat(combined_all_df, ignore_index=True)
    combined_output_file = os.path.join(output_folder, 'gabungan_semua_tabel.xlsx')
    final_combined_df.to_excel(combined_output_file, index=False)
    print(f"Berhasil menggabungkan semua file ke: {combined_output_file}")
else:
    print("Tidak ada file yang berhasil digabung.")

#CHECKING THE SAMPLE XLSX
excel_file_path = "/content/hasil_scraping/gabungan_semua_tabel.xlsx"
df_sample = pd.read_excel(excel_file_path)
display(df_sample.head())

print(f"Number of rows: {df_sample.shape[0]}")
print(f"Number of columns: {df_sample.shape[1]}")

Menggabungkan seluruh file Excel menjadi satu file...
Berhasil menggabungkan semua file ke: hasil_scraping/gabungan_semua_tabel.xlsx

,No,Provinsi/Kabupaten/Kota,Bera,Penggenangan,Tanam (1-15 HST),Vegetatif 1 (16-30 HST),Vegetatif 2 (31-40 HST),Max. Vegetatif (41-54 HST),Generatif 1 (55-71 HST),Generatif 2 (72-110 HST),Panen,Standing Crop,Luas Baku Sawah (Ha),Source File
0,1,Maluku Utara,4.490,700,810,826,711,1.153,940,789,2.982,5.229,13.508,tabel_dari_5782329bff59db4b644faac7068039cd858...
1,2,Halmahera Barat,434,36,62,47,43,98,142,62,174,454,1.124,tabel_dari_5782329bff59db4b644faac7068039cd858...
2,3,Ibu,20,2,10,8,4,3,7,3,2,35,61,tabel_dari_5782329bff59db4b644faac7068039cd858...
3,4,Ibu Selatan,47,2,3,4,1,3,7,6,32,24,110,tabel_dari_5782329bff59db4b644faac7068039cd858...
4,5,Jailolo,122,11,23,19,22,57,62,33,65,216,417,tabel_dari_5782329bff59db4b644faac7068039cd858...

Number of rows: 7541
Number of columns: 14

In [58]:
#EXTRACT DATA PROVINSI
query = "SELECT * FROM df_sample WHERE No = '1'"
data_provinsi = sqldf(query)

result.head()
print(f"Number of rows: {data_provinsi.shape[0]}")
print(f"Number of columns: {data_provinsi.shape[1]}")

data_provinsi

Number of rows: 34
Number of columns: 14

,No,Provinsi/Kabupaten/Kota,Bera,Penggenangan,Tanam (1-15 HST),Vegetatif 1 (16-30 HST),Vegetatif 2 (31-40 HST),Max. Vegetatif (41-54 HST),Generatif 1 (55-71 HST),Generatif 2 (72-110 HST),Panen,Standing Crop,Luas Baku Sawah (Ha),Source File
0,1,Maluku Utara,4.490,700,810,826,711,1.153,940,789,2.982,5.229,13.508,tabel_dari_5782329bff59db4b644faac7068039cd858...
1,1,Jawa Barat,297.601,50.775,61.931,90.249,97.112,108.186,69.095,42.460,109.888,469.033,937.352,tabel_dari_57327e852490f5963f684da96982b31b4a5...
2,1,Jambi,20.415,3.951,3.898,3.938,4.372,9.423,7.482,5.473,8.939,34.586,68.321,tabel_dari_57156af0039db656b9039528d1ebfbf6742...
3,1,Kepulauan Bangka Belitung,7.264,1.246,1.492,1.229,1.270,2.170,2.083,1.547,3.897,9.791,22.425,tabel_dari_5719b0c0ce8332390b45f8cc38096b94d95...
4,1,Kalimantan Timur,15328,2757,3123,2212,2398,3576,3436,2403,5581,17148,"41,316",tabel_dari_5764f724ac0091de42a82ea6713d6c0250e...
5,1,Sulawesi Tengah,37.728,7.695,8.564,9.295,7.564,11.400,9.523,7.047,17.486,53.393,117.157,tabel_dari_5772777369f7d5c69e4e1a6660960a7c6d2...
6,1,Kalimantan Selatan,"101,046","13,163","14,740","14,820","17,958","40,971","28,092","15,186","44,657","131,767","292,992",tabel_dari_5763567d57691a30da3afdbcddcea910c20...
7,1,Nusa Tenggara Barat,57.167,12.969,17.716,34.695,39.842,37.313,12.652,5.942,15.624,148.16,238.105,tabel_dari_575286cf254cca08b33e1620cfc64d5d49d...
8,1,Kalimantan Utara,4388,644,891,668,525,1197,1084,738,1620,5103,11904,tabel_dari_5765d6469192b3342ef2d07c57775a60293...
9,1,Sumatera Barat,65.947,18.033,13.668,9.309,8.559,17.623,14.100,10.008,36.329,73.267,194.760,tabel_dari_571356fd3896aaec780f1275d599f5fc416...
10,1,DKI Jakarta,162,11,10,23,46,64,19,20,59,182,416,tabel_dari_5731becaeaa90a4b123f791c87f5b42e5e7...
11,1,Kalimantan Barat,"84,320","14,261","15,385","13,836","15,245","27,126","20,341","16,043","33,444","107,976","242,483",tabel_dari_57611bba8b74b65e6886ab0ac0d7f89df43...
12,1,Sulawesi Selatan,158.773,46.697,60.550,80.499,86.196,72.745,56.887,37.091,52.406,393.968,657.644,tabel_dari_5773ed4bcbcf2a54c35754dd528faa45bc3...
13,1,Sulawesi Barat,9.142,3.225,3.220,2.640,3.715,4.913,4.695,2.904,4.746,22.087,39.587,tabel_dari_577620395ffa0026b62db975a2459e400a1...
14,1,Sulawesi Tenggara,23.537,7.275,7.171,7.485,6.562,7.860,6.253,4.869,11.209,40.200,82.614,tabel_dari_577445c6d3a881b5fe7e6290e7f2d2ee5ef...
15,1,Gorontalo,7.123,1.948,2.473,2.677,3.142,3.767,3.889,4.075,3.853,20.023,33.164,tabel_dari_5775843dea406b1b8251c2988ac218c3248...
16,1,Papua Barat,3.449,637,511,328,420,622,566,495,1.701,2.942,8.788,tabel_dari_5791d8c423a2e289a61cf86281569c3cc47...
17,1,Kepulauan Riau,255,49,25,23,26,152,129,52,126,407,840,tabel_dari_5721f04fd67d7ecd23054724e639aad738a...
18,1,Lampung,117.179,24.254,34.370,32.900,36.772,35.515,25.104,15.888,39.132,180.549,364.019,tabel_dari_571824951d71ff815d5f973db2ae1087a09...
19,1,Jawa Timur,326.485,76.403,99.305,132.667,150.298,149.394,92.450,47.860,128.580,671.974,1.221.443,tabel_dari_5735bc7be03c5a102dba2d6c67a597b2631...
20,1,Papua,12.017,2.809,2.335,1.953,1.960,2.595,2.944,2.074,4.903,13.861,33.848,tabel_dari_579474122982237e4240a6f30b74ee42f96...
21,1,Sumatera Utara,99.830,21.817,18.485,17.293,15.535,30.281,28.462,27.045,46.709,137.101,308.369,tabel_dari_571227552720a7e5efdc4adea1338f80522...
22,1,Maluku,4.541,1.132,1.103,1.271,1.706,1.790,2.477,1.302,2.860,9.649,18.344,tabel_dari_57813b3d4262ba682738d44cf263b894d76...
23,1,Bali,19.049,4.935,5.233,6.967,6.951,4.749,4.843,4.547,13.611,33.290,72.006,tabel_dari_575114db44f6943261e99aad97b1e546e63...
24,1,Sulawesi Utara,13.372,3.622,3.362,2.900,2.852,5.754,5.051,3.437,6.119,23.356,46.878,tabel_dari_5771bda87e786a087c911f53e7b015cb400...
25,1,Riau,20.879,3.456,3.645,3.141,2.761,8.202,6.973,5.567,7.389,30.289,62.442,tabel_dari_5714e2cfa2f03af4a98185b6da8e7ed0b2d...
26,1,Nusa Tenggara Timur,52.631,11.900,16.082,13.899,8.181,8.662,6.662,6.833,31.940,60.319,157.928,tabel_dari_5753ca9d73b85e8fb567ae2b7d22d95f9f1...
27,1,Jawa Tengah,269.089,62.600,74.142,101.146,96.039,133.033,126.166,51.736,132.228,582.262,1.061.636,tabel_dari_5733626edf55583206e795c97210fa0c3a7...
28,1,Bengkulu,16.076,4.949,4.898,4.173,4.046,3.776,3.304,3.026,6.318,23.223,51.067,tabel_dari_5717949d87f1b054252f59ec4aa33a48e88...
29,1,Aceh,74.988,16.344,18.000,15.951,12.391,18.769,17.068,13.864,26.228,96.043,214.729,tabel_dari_571104b571b7a13c5a05b7d5694c1e8af30...
30,1,Kalimantan Tengah,46607,6234,6669,8124,7924,15135,12739,8276,22750,"58,867","135,701",tabel_dari_576217204a7b974d2820084f50d06a2549f...
31,1,Banten,63.225,8.654,13.106,20.359,18.733,28.636,17.688,11.975,21.642,110.497,206.163,tabel_dari_5736bfc4743e285a9e1ba347e59f521fad1...
32,1,Yogyakarta,27.427,4.317,5.187,6.716,4.397,6.521,6.258,3.223,12.209,32.302,77.355,tabel_dari_5734a46a1d85395cad2b007f57c280ebb31...
33,1,Sumatera Selatan,134.906,35.698,31.457,28.842,32.156,56.428,52.629,35.042,62.162,236.554,472.557,tabel_dari_5716e058f5fb85b761b3075bd2928b8dfe8...

In [8]:
# prompt: save the gabungan_semua_tabel into google sheet

# Install gspread and google-auth
!pip install --upgrade gspread google-auth

from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
import pandas as pd

# Authenticate and create a client
creds, _ = default()
gc = gspread.authorize(creds)

# Name of the sheet you want to save to
spreadsheet_name = 'data simotandi'
worksheet_name = 'Sheet1' # Or any other sheet name

try:
    # Try to open the spreadsheet by name
    spreadsheet = gc.open(spreadsheet_name)
except gspread.SpreadsheetNotFound:
    # If not found, create a new one
    print(f"Spreadsheet '{spreadsheet_name}' not found. Creating a new one...")
    spreadsheet = gc.create(spreadsheet_name)
    print(f"Spreadsheet '{spreadsheet_name}' created.")

# Select the worksheet. If it doesn't exist, create it (gspread v5+ handles this)
try:
    worksheet = spreadsheet.worksheet(worksheet_name)
except gspread.WorksheetNotFound:
    print(f"Worksheet '{worksheet_name}' not found. Creating a new one...")
    worksheet = spreadsheet.add_worksheet(title=worksheet_name, rows="100", cols="20") # Adjust rows/cols as needed
    print(f"Worksheet '{worksheet_name}' created.")


# Assuming 'final_combined_df' is the DataFrame you want to save
# If it's not already defined, you need to ensure the preceding code
# successfully creates the 'final_combined_df' DataFrame.

if 'final_combined_df' in locals():
    print(f"Saving data to Google Sheet '{spreadsheet_name}' in worksheet '{worksheet_name}'...")

    # Clear existing data in the sheet
    worksheet.clear()

    # Convert DataFrame to a list of lists (including header)
    data_to_upload = [final_combined_df.columns.values.tolist()] + final_combined_df.values.tolist()

    # Upload the data
    worksheet.update(values=data_to_upload)

    print("Data successfully uploaded to Google Sheet.")
else:
    print("Error: 'final_combined_df' DataFrame was not created. Please ensure the preceding code ran successfully.")

Requirement already satisfied: gspread in /usr/local/lib/python3.11/dist-packages (6.2.1)
Requirement already satisfied: google-auth in /usr/local/lib/python3.11/dist-packages (2.40.3)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.11/dist-packages (from gspread) (1.2.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from google-auth) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from google-auth) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/dist-packages (from google-auth) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.11/dist-packages (from pyasn1-modules>=0.2.1->google-auth) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2025.6.15)
Spreadsheet 'data simotandi' not found. Creating a new one...
Spreadsheet 'data simotandi' created.
Saving data to Google Sheet 'data simotandi' in worksheet 'Sheet1'...
Data successfully uploaded to Google Sheet.